@import url('https://fonts.googleapis.com/css?family=Questrial|Source+Sans');

.createEditPage {
  width: 400px;
  margin: auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.ant-checkbox-group {
}

h2 {
  font-size: 25px;
}
