.draggable-inputs {
  width: 100%;
}

.card-container {
  background: transparent !important;
  border: none !important;
}

.flexContainer {
  display: flex;
}

.singleInput {
  flex: 1;
  padding: 0 8px;
}

.subsection-buttons {
  display: flex;
  justify-content: center;
}

.task-button {
  width: 160px;
}
