.draggable-inputs {
  width: 100%;
}

.card-container {
  background: transparent !important;
  border: none !important;
}

.flexContainer {
  display: flex;
}

.singleInput {
  flex: 1;
}

.task-button {
  width: 160px;
}
