@import url('https://fonts.googleapis.com/css?family=Montserrat');

.headerContainer {
  background-color: #d7e5f2;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.profileAndSignOut {
  flex: 1;
}

.rootsLogo {
  flex: 1;
}

.title {
  flex: 6;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.profile {
  flex: 1;
}

.signOutButton {
  flex: 1;
}
