.ant-menu {
  line-height: 1rem !important;
}

.nav-bar {
  display: flex !important;
  align-items: center;
  flex-wrap: wrap;
}

.tab {
  display: flex !important;
  align-items: center;
  margin: 0 10px !important;
}

.tab-text {
  color: white !important;
  padding: 10px 0 !important;
  font-size: 1.25rem;
  font-weight: 500;
}

.roots-logo {
  display: flex !important;
  padding: 8px !important;
  padding-left: 16px !important;
}

@media only screen and (max-width: 865px) {
  .nav-bar {
    padding: 1rem 0 !important;
  }
  .tab {
    margin: 0 !important;
  }
  .tab-text {
    font-size: 1.15rem;
  }
  .roots-logo {
    display: none !important;
  }
}

@media only screen and (max-width: 680px) {
  .nav-bar {
    padding: 1rem 0 !important;
  }
  .tab {
    margin: 0 !important;
    padding: 10px 7px !important;
  }
  .tab-text {
    font-size: 0.9rem;
  }
  .roots-logo {
    display: none !important;
  }
}

.tab-text:hover {
  color: #f47d37 !important;
}

.logout-button {
  display: flex !important;
  align-items: center;
  margin-left: auto !important;
}

.button {
  margin: 0 1rem;
}

.button:hover {
  border-color: #f47d37 !important;
}

.button-text {
  color: #404040 !important;
}

.button-text:hover {
  color: #f47d37 !important;
}
