.viewChecklists {
  min-width: 300px;
  max-width: 100%;
  margin: auto 1rem;
}

@media only screen and (min-width: 850px) {
  .viewChecklists {
    min-width: 300px;
    width: 60%;
    margin: auto;
    padding: 30px;
  }
}

.location-card {
  margin: 2rem auto;
  padding: 30px;
  background-color: #d3d3d3;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.ant-collapse-header {
  font-size: 14px;
}
