.Header {
  display: flex;
  padding: 10px;
  border-bottom: solid grey 1px;
  margin-bottom: 10px;
  background-color: #daeced;
}

.rootsIcon {
  flex: 1;
}

.listTalkTitle {
  flex: 6;
  font-size: 20px;
  text-align: center;
}

.settingsIcon {
  flex: 1;
  text-align: right;
}
