.shortDescription {
  display: inline-block;
}

.longDescription {
  display: inline-block;
}

.textAndButtons {
  display: flex;
}

.textAndButtonsCol {
}

.checkboxCol {
  padding-left: 0;
  padding-right: 0;
}
